<%- include('header/index'); -%>
<div class="d-flex flex-column vh-100">
  <h1 class="text-center text-danger p-5">Counselor Portal!!</h1>
  <form
    class="w-50 m-auto bg-light p-5 shadow-lg rounded"
    method="POST"
    action="/registerCounselor"
  >
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="text"
        name="fname"
        id="fname"
        class="form-control"
        required
      />
      <label class="form-label" for="fname">First Name</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="text"
        name="mname"
        id="mname"
        class="form-control"
        required
      />
      <label class="form-label" for="mname">Middle Name</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="text"
        name="lname"
        id="lname"
        class="form-control"
        required
      />
      <label class="form-label" for="lname">Last Name</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="date"
        name="dob"
        id="dob"
        class="form-control"
        placeholder="Date of Birth"
        required
      />
    </div>
    <div class="form-outline mb-4">
      <select
        class="form-select"
        name="gender"
        id="gender"
        aria-label="Default select example"
        required
      >
        <option selected value="O">Other</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <label class="form-label" for="gender">Gender</label>
    </div>
    <div class="form-outline mb-4">
      <select
        class="form-select"
        name="type"
        id="type"
        aria-label="Default select example"
        required
      >
        <% type.forEach((element, idx) => { %>
          <option value='<%=element.counselor_type%>' > <%=element.counselor_type%></option>
        <% });%>
      </select>
      <label class="form-label" for="gender">Type of Counselor</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="text"
        name="username"
        id="username"
        class="form-control"
        required
      />
      <label class="form-label" for="username">Username</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
      />
      <label class="form-label" for="password">Password</label>
    </div>

    <div class="form-outline mb-4">
      <input
        type="text"
        name="degree"
        id="degree"
        class="form-control"
        required
      />
      <label class="form-label" for="degree">Degree</label>
    </div>

    <div class="form-outline mb-4">
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
      />
      <label class="form-label" for="email">E-mail</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="number"
        name="exp"
        id="exp"
        class="form-control"
        value="0"
        required
      />
      <label class="form-label" for="exp" >Experience in Years</label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-danger w-100 mb-4">Sign Up</button>
    <!-- Register buttons -->
    <p id="error" class="text-danger text-center"><%= error %></p>
    <div class="text-center">
      <p>Already a Counselor? <a href="/loginCounselor" class="text-danger">Login</a></p>
      <p>
        User?<a href="/" class="text-danger">Login</a>/<a
          href="/register"
          class="text-danger"
          >Register</a
        >
      </p>
    </div>
  </form>
</div>
<script>
  $("#dob").attr("max", getDate());
  $("form").submit((e) => {
    const formData = new FormData(e.target);
    const pass = formData.get("password");
    
    let msg = "";
    if (pass.length < 8) {
      msg += "Password length must be more than 7";
    }

    if (msg !== "") {
      e.preventDefault();
      $("#error").html(msg);
    } else {
      $("#error").html("");
    }
  });
</script>
<%- include('footer/index'); -%>
